﻿@model IEnumerable<MVCApp.Models.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Categories List</h2>
<br />
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-default" asp-route-id="@item.CategoriesId">Edit</a> |
                    <a class="btn btn-sm btn-danger" href="/Categories/Delete/@item.CategoriesId">Delete</a>                     
                </td>
            </tr>
        }
    </tbody>
</table>
